<div>
  <h3>Adicionar Novo Airplane</h3>
</div>
<form class="example-container" [formGroup]="airplanesForm" >
  <mat-form-field>
    <input matInput name="modelo" placeholder="Nome do Airplane" formControlName="modelo">
  </mat-form-field>
  <mat-form-field>
    <input  matInput name="qtidadePassageiros" placeholder="Qtidade passageiros" formControlName="qtidadePassageiros">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="dataCriacao" placeholder="Data de criação" formControlName="dataCriacao">
  </mat-form-field>

  <button (click)="addAirplanes(airplanesForm.value)" mat-button color="primary" >Adicionar</button>
</form>